@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stream Bet</h1>
    <p>Bet on streams</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>